html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  // color: set-text-color($color-primary);\\
}

body {
  background-color: #fff;
  // color: set-text-color($color-primary);
  min-height: 100%;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  max-width: 100%;
  overflow-x: hidden;
}

body.dark-overlay {
  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    z-index: 97;
    background: rgba(0, 0, 0, 0.4);
  }
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.section-showcase {
  padding-bottom: 15vh;
  & .cards__card{
    padding-top: 145px;
  }
}

.section-testimonials {
  background-color: $secondary-color;
}

.mountains {
  position: absolute;
  bottom: -0.2rem;
  right: 0;
  left: 0;
  & svg {
    width: 100%;
    height: 100%;
    max-height: 4.625rem;
  }
  & svg path {
    fill: #fff;
  }
  // z-index: 4;
}

.mountains--bg-secondary {
  & svg path {
    fill: $secondary-color;
  }
}

.blurry-logo-centered {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__title {
  margin-bottom: 2.5625rem;
}

.cards__card {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.03);
  padding: 29px;
  margin-bottom: 29px;
}

.card--items-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__image{
  position: absolute;
  height: 129px;
  min-width: 100%;
  top: 0;
  left: 0;
  background-color: $color-dim;
  overflow: hidden;
}

.image__img{
  width: 100%;
  height: auto;
}

.card__icon {
  margin-bottom: 8px;
}

.card__title {
  & .p {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
  }
  &.title--bigger .p {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 12px;
  }
  &.title--little-bigger .p {
    font-size: 20px;
    line-height: 24px;
  }
  & .p.p-lighter{
    font-size: 12px;
    line-height: 15px;
  }
}

.title--centered {
  text-align: center;
}

.card__list {
  padding-left: 0;
}

.item__icon {
  margin-right: 11px;
}

.list__item {
  display: flex;
}

.content__tags{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.8625rem;
}

.tags__tag{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .6rem;
  margin-bottom: .7rem;
  padding: .7rem;
  color: $color-text-dim;
  border: 1px solid $color-text-dim;
  border-radius: 25.5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  &:nth-last-child(1){
    margin-right: 0;;
  }
  &.active{
    background-color: $color-primary;
    color: set-text-color($color-primary);
    border: 0;
  }
}

.section__section-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-nav__item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $color-text-dim;
  &:nth-last-child(1){
    margin-right: 0;
  }
  &.highlight{
    background-color: $color-primary;
    color: set-text-color($color-primary);
    border-radius: 50%;
  }
}

.section-footer {
  background-color: $secondary-color;
  color: set-text-color($secondary-color);
}

.contact-credentials{
  margin: 0 auto;
  width: 85%;
  margin-bottom: 1.5rem;
  & p{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    & svg{
      margin-right: 0.7rem;
    }
  }
}

.form-primary {
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 52px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.form-primary__input {
  background-color: $color-dim;
  border: 0;
  margin-bottom: 20px;
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
}

.section-compare{
  padding-bottom: 4.625rem;
  & .cards__card{
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}