// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets & Small Laptops
@include mediaMd {
  .btn{
    max-width: 293px;
  }
  .h1{
    font-size: 28px;
    line-height: 34px;
  }
  .h2{
    font-size: 30px;
    line-height: 37px;
  }
  .p{
    font-size: 23px;
    line-height: 28px;
  }
  .full-screen-picture{
    background-image: url(../img/bg-header.jpg);
    background-position-x: 75%;
  }
  .mountains {
    & svg {
      max-height: 8.75rem;
    }
  }
  .blurry-logo-centered{
    left: 70%;
    & svg{
      width: 634px;
      height: 100%;
    }
    
  }
  .centered-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .centered-content__title{
    max-width: 653px;
  }
  .content__text{
    max-width: 41rem;
  }
  .content__cards{
    display: flex;
    flex-wrap: wrap;
    // column-count: 3;
    // column-gap: 38px;
    // column-width: 346px;
  }

  .section-cards{
    & .p.p-lighter{
      font-size: 12px;
      line-height: 15px;
    }
    & .cards__card{
      &:nth-child(3n){
        margin-right: 0;
      }
    }
  }

  .cards__card{
    width: 28%;
    margin-right: 35px;
    // &:nth-last-child(1){
    //   margin-right: 0;
    // }
  }

  .section-testimonials{
    & .content__cards{
      justify-content: center;
    }
    & .cards__card{
      width: 45%;
      &:nth-child(even){
        margin-right: 0;
      }
      & .card__text{
        text-align: center;
        & .p{
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  .section-showcase{
    & .card__title{
      & .p{
        font-size: 16px;
        line-height: 20px;
      }
    }
    & .card__price{
      & .p{
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  
  .section__title{
    & .p.p-lighter{
      font-weight: 300;
      font-size: 25px;
      line-height: 30px;
    }
  }

  .section-compare{
    padding-bottom: 8.75rem;
    .container{
      display: flex;
    }
    & .cards__card{
      width: 100%;
      max-width: 512px;
      background: #FFFFFF;
      box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.03);
    }
  }

  .section-footer{
    & .container{
      display: flex;
      justify-content: center;
    }
    & .section__left{
      margin-right: 5%;
    }
    display: flex;
  }
  .btn-submit-form{
    max-width: 100%;
  }
}

// Smartphones
@include mediaSm {
}

@include orientLand {
}
