header {
  color: #fff;
}

.full-screen-picture {
  background-color: $secondary-color;
  width: 100vw;
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.heading {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1.6875rem;
}

.nav--desktop,
.heading__number {
  display: none;
}

.centered-content__title {
  margin-bottom: 3rem;
}
