// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets & Small Laptops
@include mediaMd {
  .nav--mobile{
    display: none;
  }

  // Menu
  .nav--desktop,
  .heading__number{
    display: block;
  }

  .nav--desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
  }

  .nav--desktop__nav-list{
    display: flex;
    margin: 0;
    padding: 0;
  }

  .nav-list__nav-item{
    display: flex;
    margin-right: 21px;
    &:nth-last-child(1){
      margin-right: 0;
    }
  }

  .nav-item__link{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    &.active{
      color: $color-primary;
      border-bottom: 2px solid $color-primary;
    }
  }
  
  .heading__number{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
  }

  @media only screen and (max-width: 835px) {
    .heading__number{
      font-size: 2.3vw;
    }
  }

  .btn{
    max-width: 293px;
  }
  .h1{
    font-size: 28px;
    line-height: 34px;
  }
  .h2{
    font-size: 30px;
    line-height: 37px;
  }
  .p{
    font-size: 23px;
    line-height: 28px;
  }
  .full-screen-picture{
    // background-image: url(../img/bg-header.jpg);
    background-position-x: 75%;
  }
  .mountains {
    & svg {
      max-height: 8.75rem;
    }
  }
  .blurry-logo-centered{
    left: 70%;
    & svg{
      width: 634px;
      height: 100%;
    }
    
  }
  .centered-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .centered-content__title{
    max-width: 653px;
  }
  .content__text{
    max-width: 41rem;
  }
  .content__cards{
    display: flex;
    flex-wrap: wrap;
    // column-count: 3;
    // column-gap: 38px;
    // column-width: 346px;
  }

  .section-cards{
    & .p.p-lighter{
      font-size: 12px;
      line-height: 15px;
    }
    & .cards__card{
      &:nth-child(3n){
        margin-right: 0;
      }
    }
  }

  .cards__card{
    // width: 28%;
    flex: 0 0 30.333333%;
    margin-right: 3%;
    // &:nth-last-child(1){
    //   margin-right: 0;
    // }
  }

  .section-testimonials{
    & .content__cards{
      justify-content: center;
    }
    & .cards__card{
      flex: 0 0 48%;
      margin-right: 2.5%;
      &:nth-child(even){
        margin-right: 0;
      }
      & .card__text{
        text-align: center;
        & .p{
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  .section-showcase{
    & .card__title{
      & .p{
        font-size: 16px;
        line-height: 20px;
      }
    }
    & .card__price{
      & .p{
        font-size: 14px;
        line-height: 20px;
      }
    }
    & .card__text{
      & .p{
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  
  .section__title{
    & .p.p-lighter{
      font-weight: 300;
      font-size: 25px;
      line-height: 30px;
    }
  }

  .section-compare{
    padding-top: 3rem;
    & .container{
      padding-bottom: 12rem;
    }
    
    & .section__title{
      margin-bottom: 121px;
    }
    & .section__left{
      display: flex;
      justify-content: flex-end;
      margin-right: 3%;
      margin-bottom: 137px;
    }
    & .section__right{
      display: flex;
      justify-content: flex-start;
      margin-left: 3%;
    }
    & .cards__card{
      width: 100%;
      width: 512px;
      flex: initial;
      margin-right: 0;
      box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.03);
    }
  }

  .section-footer{
    padding-bottom: 125px;
    & .container{
      display: flex;
      justify-content: center;
    }
    & .section__left{
      margin-right: 8%;
      & .h2{
        margin-top: 0;
        margin-bottom: 61px;
        text-align: left;
      }
      & .p-bigger{
        font-size: 25px;
        line-height: 30px;
        text-align: left;
      }
      & .p-lighter{
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
      }
      & .contact-credentials{
        margin-bottom: 43px;
        width: 100%;
        & .p{
          & svg{
            margin-right: 50px;
          }
          &:nth-child(1){
            margin-bottom: 38.21px;
          }
        }
      }
    }
    display: flex;
    .form-primary{
      margin: 0;
    }
  }
  .btn-submit-form{
    max-width: 100%;
  }

  // Module
  .module-form{
    &.show{
      display: block;
    }
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0, .5);
    z-index: 99;
    & .form-primary{
      margin: 0;
      padding: 1.5rem;
      position: absolute;
      width: 50%;
      max-width: 30rem;
      height: 35%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%,);
      border-radius: 27px 27px 27px 27px;
      & .h2{
        margin-top: 0;
      }
    }
  }

  .desktop-picture{
    display: block;
  }
}

// Smartphones
@include mediaSm {
}

@include orientLand {
}
