// Utility Classes

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1182px;
  height: 100%;
  margin: 0 auto;
  padding-left: 1.0625rem;
  padding-right: 1.0625rem;
  position: relative;
  overflow: hidden;
}

.center-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-padding-extra {
  padding-left: 2.4375rem;
  padding-right: 2.4375rem;
}

.p {
  margin-top: 0;
  font-style: normal;
  line-height: 1.25rem;
}

.p-lighter {
  font-size: 12px;
  line-height: 15px;
}

.p-bigger {
  font-size: 25px;
  line-height: 30px;
}

.text-highlight--color-primary {
  color: $color-primary;
}

.text-highlight--color-dimmer{
  color: $color-text-dim;
}

.text-highlight--color-success {
  color: $color-success;
}

.text-highlight--weight-bold {
  font-weight: bold;
}

.text-highlight--weight-light{
  font-weight: 300;
}

.text-highlight--bg-primary {
  padding: 0.2rem;
  background-color: $color-primary;
  color: set-text-color($color-primary);
  margin-right: 0.5rem;
}

.h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  text-align: center;
}

.h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.h2--bigger {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
}
